
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>管理中心 - 用户列表 </title>
    <meta name="Copyright" content="Douco Design." />
    <link href="{$Think.const.CSS_URL}public.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{$Think.const.JS_URL}jquery.min.js"></script>
    <script type="text/javascript" src="{$Think.const.JS_URL}global.js"></script>
    <script type="text/javascript" src="{$Think.const.JS_URL}jquery.js"></script>
    <script type="text/javascript" src="{$Think.const.JS_URL}jquery.autotextarea.js"></script>
</head>

<body>
<div id="dcWrap">
    <div id="dcHead">
        <div id="head">
            <div class="logo"></div>
            <div class="nav">
                <ul>
                    <li class="M"><a href="JavaScript:void(0);" class="topAdd">新建</a>
                        <div class="drop mTopad">
                            <a href="__URL__/addConsumer.html">用户</a>
                            <a href="__URL__/../Manager/addManager.html">管理员</a>
                        </div>
                    </li>
                    <li><a href="__MODULE__/ClearCache/cache_clear">清除缓存</a></li>
                    <li><a href="#">帮助</a></li>
                </ul>
                <ul class="navRight">
                    <li class="M noLeft"><a href="JavaScript:void(0);">您好，{$admin}</a>
                    </li>

                    <li class="noRight"><a href="{:U('MainPage/LoginOut')}">退出</a></li>
                </ul>
            </div>
            <div class="drop mUser">
                <a href="__MODULE__/Manager/editManager">编辑我的个人资料</a>
            </div>
        </div>
    </div>
    <!-- dcHead 结束 --> <div id="dcLeft"><div id="menu">
    <ul class="top">
        <li><a href="__MODULE__/MainPage/index"><i class="home"></i><em>管理首页</em></a></li>
    </ul>
    <ul>
        <li class="cur"><a href="{:U('Consumer/index')}"><i class="product"></i><em>用户列表</em></a></li>
    </ul>

    <ul class="bot">
        <li><a href="__MODULE__/DBBackup/index"><i class="backup"></i><em>数据备份</em></a></li>
        <li><a href="__MODULE__/Manager/index"><i class="manager"></i><em>网站管理员</em></a></li>
    </ul>
</div></div>
    <div id="dcMain">

        <div id="urHere">管理中心<b>></b><strong>用户列表</strong> </div>
        <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><a href="__MODULE__/Consumer/addConsumer" class="actionBtn add">用户</a>用户列表</h3>
        <!--筛选用户-->
        <div class="filter">

            <form name="search" action="{:U('Consumer/recordFinder')}" method="post">
                <input name="keyword" type="text" class="inpMain" value="" size="20"  />
            </form>
            <a name="submit" href="javascript:void(0)" class="btnGray" onclick="javascript:document.search.submit()" >筛选</a>

        <!--批量删除用户-->
            <span>
                 <a class="btnGray" href="javascript:void(0)" onclick="javascript:document.action.submit()">批量删除</a>
            </span>
        <!--显示用户的记录-->
        </div>
        <form name="action" method="post" action="{:U('Consumer/deleteSelect')}" >
            <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                <thead>
                <tr>
                    <th width="22" align="center"><input name='chkall' type='checkbox'  onclick='selectcheckbox(this.form)' value='check'></th>
                    <th width="40" align="center">编号</th>
                    <th width="50" align="center">用户名</th>
                    <th width="left" align="center">密码</th>
                    <th width="left" align="center">邮箱</th>
                    <th width="80" align="center">注册日期</th>
                    <th width="150" align="center">最近登陆时间</th>
                    <th width="50" align="center">登陆次数</th>
                    <th width="50" align="center">简单描述</th>
                    <th width="80" align="center">操作</th>
                </tr>
                </thead>
             <foreach name="param" item="u">
                 <tr>
                    <td width="22" align="center">
                            <input name="id[]" type="checkbox" id="id[]" value="{$u.user_id}">
                    </td>
                     <td width="40" align="center">{$num++}</td>
                     <td width="50" align="center">{$u.user_name}</td>
                     <td width="left" align="center">{$u.password}</td>
                     <td width="left" align="center">{$u.email}</td>
                     <td width="80" align="center">{$u.reg_time}</td>
                     <td width="150" align="center">{$u.last_login_time}</td>
                     <td width="50" align="center">{$u.login_time}</td>
                     <td width="50" align="center">{$u.status}</td>
                     <td width="80" align="center">
                         <a href="__MODULE__/Consumer/editConsumer">编辑</a> |
                         <a href="{:U('Consumer/delete?user_id='.$u[user_id])}" onclick="return confirm('确认删除？')">删除</a></td>
                     </td>
                 </tr>
                </foreach>

            </table>
        </form>
    </div>
        <div class="clear"></div>
        <div class="pager">{$pageList}</div>
    </div>
</div>
<div class="clear"></div>
<div id="dcFooter">
    <div id="footer">
        <div class="line"></div>
    </div>
</div>
<div class="clear"></div>


<script type="text/javascript">

    onload = function()
    {
        document.forms['action'].reset();
    }

    function douAction()
    {
        var frm = document.forms['action'];
        frm.elements['new_cat_id'].style.display = frm.elements['action'].value == 'category_move' ? '' : 'none';
    }

</script>

</body>
</html>
