<extend name="Public/base" />
<block name="content">
<p>详细查询页面</p>
<div style="width:100%;height:500px;">
	<div style="float:left;width:500px;">
		<div class="input-group input-group-lg">
			<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
			<input type="text" class="form-control" placeholder="请输入查询关键字" id="keywords">
		</div>
		<table class="table table-bordered" >
			<tr><td>总额：</td></tr>
			<tr><td>数据列表</td></tr>
		</table>
	</div>
	<div style="float:left;">
		<div style="width:60px;height:50;">
			<table class="table table-hover table-bordered">
				<tr><td>&nbsp;</td><td>sddd</td><td></td><td></td><td></td></tr>
				<tr><td>&nbsp;</td><td>sddd</td><td>ss</td><td></td></tr>
			</table>
		</div>
	</div>
	<div style="clear:both;"></div>
</div>
</block> 